########################################################################################
## System mapping
########################################################################################
# Each system refers to a toolhead and the sensors and gates associated with it

[system_0]
tools: 0
toolhead: T0
extruder: extruder
pre_gate: mmu_pre_gate_0
gate: unit_0_mmu_gate_sensor
extruder_sensor: unit_0_extruder_sensor
toolhead_sensor: unit_0_toolhead_sensor
tension_sensor: unit_0_filament_tension_sensor

[system_1]
tools: 1, 2, 3, 4, 5
toolhead: T1
extruder: extruder1
pre_gate: mmu_pre_gate_1, mmu_pre_gate_2, mmu_pre_gate_3, mmu_pre_gate_4, mmu_pre_gate_5
gate: unit_1_mmu_gate_sensor
extruder_sensor: unit_1_extruder_sensor
toolhead_sensor: unit_1_toolhead_sensor
tension_sensor: unit_1_filament_tension_sensor
